body { color: #444; font-family: monospace; font-size: 11px; margin: 0px;}
h1 { color: #2F4F4F; }
#overview { min-width: 300px; max-width: 800px; float: left; border-right: 1px solid #aaa; }
#detail { overflow: scroll; }
#packages { overflow: scroll; }
table { width: 99%; margin-top: 5px; }
td { color: #444; padding: 2px; }
img { border-style: none; margin: 5px 5px 0 5px; }
a { text-decoration: none; color: #444; }
a:hover { text-decoration: underline; }
a.external { color:blue; }
td.barContainerRight { width: 210px; }
td.barContainerLeft { text-align: right; }
.content { padding: 5px; }
.source td { font-size: 11px; white-space: nowrap; }
.header { font-size: 22px; }
.green { color: #0b0; background-color: #eee; }
.yellow { color: yellow; background-color: #eee; }
.red { color: red; background-color: #eee; }
.black { color: #222; background-color: #eee; }
.non { background-color: #F08080; padding: 3px; }
.percentages { float: right; }
.bar { border: 1px solid #666; font-size: 18px; width: 200px; height: 23px; background-color: #eee; }
.percentage { float:left; margin-left: 5px; padding-top: 3px; position: relative; }
.greenBar { background-color: #3c3; height: 23px; }
.pkgRow { color: #444; padding: 2px 5px; white-space: nowrap; clear: both; }
.pkgLink { font-size: 16px; }
.pkgLink.disabled a { color: #aaa; }
.pkgContent { display: none; }
.summary { font-weight: bold; font-size: 120%; }
.selected { text-decoration: underline; }
.filterContainer { background-color: #B78E99; padding: 10px; height: 40px; }
.filterContainer input { border: 0; color: #993300; float: left; display: block; height: 18px; width: 220px; }
.filterContainer .pre { background: url('filter_box_left.png'); float: left; display: block; height: 20px; width: 20px; }
.filterContainer .post { background: url('filter_box_right.png'); float: left; display: block; height: 20px; width: 20px; cursor: pointer; }
.classes { border-bottom: 1px solid #aaa; }
#load-error { display:none; margin: 10px; }
#load-error .browser-error { display:none; }