name: CI

on:
  push:
    paths-ignore:
      - 'doc/**'
      - 'docs/**'
      - '*.md'
    branches:
      - main
  pull_request:

jobs:
  test-plugin:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        java: ['8', '17']
        scala: [
            { version: '2.12.20' },
            { version: '2.12.19' },
            { version: '2.12.18' },
            { version: '2.13.16' },
            { version: '2.13.15' },
            { version: '2.13.14' }
          ]
    steps:
      - name: checkout the repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: sbt/setup-sbt@v1

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: run tests
        run: sbt ++${{ matrix.scala.version }} plugin/test

  test-the-rest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        java: ['8', '17' ]
        module: ['runtime', 'runtimeJS', 'runtimeJSDOMTest', 'runtimeNative', 'reporter', 'domain', 'serializer']
    steps:
      - name: checkout the repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: sbt/setup-sbt@v1

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Install JSDOM
        run: npm install
        if: matrix.module == 'runtimeJSDOMTest'

      - name: run tests
        run: sbt +${{ matrix.module }}/test

  style-check:
    runs-on: ubuntu-latest

    steps:
      - name: checkout the repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: sbt/setup-sbt@v1

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: styleCheck
        run: sbt styleCheck
